@import url('./vendor/normalize.css');

.page {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 20px;
}


.tic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.tic__select {
  margin-bottom: 10px;
}

.tic__list {
  list-style-type: none;
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tic__item {
  margin: 0;
  padding: 0;
  border: 3px solid #484848;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.winner {
  background-color: rgba(32, 246, 13, 0.357);
}

@media screen and (min-width: 630px) {
  .tic__list {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
  }
}

@media screen and (max-width: 629px) {
  .tic__list {
    grid-template-columns: repeat(3, calc(100vw / 3 - 10px));
    grid-template-rows: repeat(3, calc(100vw / 3 - 10px));
  }
}